#header{
    width: 100%;
    min-width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
    align-items: center;
}

.header-content{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items:center;
    width:90%;
    height:100%;
}
.vector{
    width: 90%;
    height:5px;
    background-color: black;
}

.header-button{
    font-weight: 400;
    font-size: 20px;
    width:100px;
    height:40px;
    margin: 10px;
    border-color: transparent;
    background-color: transparent;
}
.header-logo-button{
    font-weight: 400;
    font-size: 30px;
    width:250px;
    height:40px;
    border-color: transparent;
    background-color: transparent;
}
.header-start-button{
    background-color: #89ACD2;
    width:100px;
    height:40px;
    border-color: transparent;
    border-radius:15px;
    font-size:20px;
    margin: 15px;
    color:white;
}

a{
    text-decoration-color: currentColor;
    text-decoration: none;
    color: black;
}